{% load static %}
{% load svg %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Welp{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'places/css/style.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <header class="site-header">
        <h1 class="site-header__logo">
            <a href="{% url 'index' %}">{% svg 'logo' %}</a>
        </h1>
        <form class="site-header__search">
            <input name="s" placeholder="Search Establishments" />
        </form>
    </header>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    {% block footer %}{% endblock %}
</body>
</html>