{% extends 'places/base.html' %}

{% block content %}
    <div class="home">
        <header class="home__header">
            <div class="home__header__content">
                <h1 class="home__title">Collecting images from Philadelphia restaurant history</h1>
		        <form class="home__search" action="{% url 'places:search' %}">
					{% load svg %}
					<div class="home__search__icon">{% svg 'search' %}</div>
		            <input class="home__search__input" name="s" aria-label="Search" placeholder="Search" />

		        </form>
            </div>
        </header>
        <div class="map">
            <div id="map__container" class="map__container"></div>
        </div>
		
        <header class="section__header">
            <div class="section__header__content">
                <h2 class="section__title">Recently Updated</h2>
            </div>
        </header>
		
        <div class="places__list places__list--slideshow" data-flickity='{ "cellAlign": "left", "pageDots": false, "lazyLoad": 5, "freeScroll": true}'>
            {% for place in place_list %}
                <article class="place">
                    <a href="{{ place.get_absolute_url }}">
                    <header>
                        <h2 class="place__title">{{ place.title }}</h2>
                        <div class="place__address">
                            {{ place.building_or_address }}
                        </div>
                    </header>
	                {% if place.featured_image.image %}
	                {% load thumbnail %}
	                {% with thumbnail=place.featured_image.image|thumbnailer %}
	                    <div class="place__thumbnail">
	                        <img data-flickity-lazyload="{{ thumbnail.thumbnail.url }}"
	                            alt="{{ place.featured_image.alt }}" />
	                    </div>
	                {% endwith %}
	                {% endif %}
                    </a>
                </article>
            {% endfor %}
        </div>
		
        <div class="home__button-section">
            <div class="home__button-section__content">
				<a class="button button--large" href="{% url 'places:index' %}">View all Establishments</a>
            </div>
        </div>
		
    </div>
{% endblock %}
