{% extends 'places/base.html' %}

{% block content %}
    <div class="places">
        {% if place_list %}
            {% for place in place_list %}
                <article class="place">
                    <header>
                        <h2 class="place__title">
                            <a href="{% url 'places:detail' place.id %}">{{ place.title }}</a>
                        </h2>
                    </header>
                    <div class="place__address">
                        {{ place.current_address|default:"" }}
                    </div>
                </article>
            {% endfor %}
        {% else %}
            <p>No places found</p>
        {% endif %}
    </div>
{% endblock %}