{% extends 'places/base.html' %}
{% load static %}

{% block head %}
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block content %}
    <div class="map page page--full">
        <header class="page__header">
            <h1 class="page__title">Map</h1>
        </header>
        <div id="map__container" class="map__container"></div>
    </div>
{% endblock %}

{% block footer %}
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.js'></script>
    <script src="{% static 'places/js/map.js' %}"></script>
{% endblock %}