{% extends 'places/base.html' %}

{% load static %}

{% block title %}
  {{ place.title }} - Welp</title>
{% endblock %}

{% block content %}
    <div class="place-detail">
        <article class="place">
            <header>
                <h2 class="place__title">
                    {{ place.title }}
                </h2>
            </header>
            {% if place.images %}
            <div class="place__images">
                {% for image in place.images.all %}
                    <div class="place__image">
                        <img src="{% static image.image.url %}" alt="{{ image.alt }}" />
                        <footer>
                            <div class="place__image__attribution">
                              {{ image.attribution }}
                            </div>
                        </header>
                    </div>
                {% endfor %}
                </div>
            {% endif %}
                
            <div class="place__description">
                {{ place.description }}
            </div>
            <footer>
                <div class="place__location">
                    Location: {{ place.location.x }}, {{ place.location.y }}
                </div>
            </footer>
        </article>
    </div>
{% endblock %}