{% extends 'places/base.html' %}
{% load martortags %}

{% block title %}
    {{ title|default:"" }}{{ title|yesno:" -," }} Welp
{% endblock %}

{% block content %}
    <div class="places-list content--full">
        <header class="page__header">
            <div class="page__header__content">
                <h1 class="page__title">{{ title|default:"" }}</h1>
                <div class="page__description">{{ description|safe_markdown }}</div>
            </div>
        </header>
        <div class="places__list">
                {% for place in place_list %}
                    <article class="place">
                        <a href="{{ place.get_absolute_url }}">
                        <header>
                            <h2 class="place__title">{{ place.title }}</h2>
                            <div class="place__address">
                                {{ place.current_address.address|default:"" }}
                            </div>
                        </header>
		                {% if place.featured_image.image %}
		                {% load thumbnail %}
		                {% with thumbnail=place.featured_image.image|thumbnailer %}
		                    <div class="place__thumbnail">
		                        <img src="{{ thumbnail.thumbnail.url }}"
		                            alt="{{ place.featured_image.alt }}" />
		                    </div>
		                {% endwith %}
		                {% endif %}
                        </a>
                    </article>
                {% empty %}
                    <p>No places found</p>
                {% endfor %}
                {% if is_paginated %}
                    <nav class="pagination">
                            {% if page_obj.has_previous %}
                                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            {% endif %}
                            <span class="page-current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                            </span>
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                            {% endif %}
                    </nav>
                {% endif %}

        </div>
    </div>
{% endblock %}
