:root {
    --primary-color: #FF3F07;
    --gutter-width: 20px;
}

body {
    margin: 0;
    font-size: 16px;
}

.site-header {
    background: var(--primary-color);
    display: flex;
}

.site-header__logo {
    flex-grow: 1;
    margin: 0 var(--gutter-width);
}

.site-header__search {
    flex-basis: 33.3%;
    margin: 0 var(--gutter-width);
    display: flex;
    align-items: center;
}

.site-header__search input {
    width: 100%;
    height: 24px;
}

.content {
    margin: 0 var(--gutter-width);
}